* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(13, 176, 103);
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  text-transform: uppercase;
  text-align: center;
  color: black;
  padding: 15px;
}

.my_btn_one {
  padding: 10px 10px;
  color: green;
  margin-right: 15px;
  font-size: 15px;
}

.my_btn_two {
  padding: 10px 10px;
  color: red;
  margin-left: 15px;
  font-size: 15px;
}

.first-section {
  width: 755px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 4px 4px rgba(0,0,0,0.2);
}

.box-calcola {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  font-size: 18px;
}

.col input,
.col select {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.comandi {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.show {
  opacity: 1;
  width: 755px;
  height: 200px;
  background-color: white;
  margin: auto;
  text-align: left;
}

.hidden {
  opacity: 0;
}

.show h4 {
  margin-left: 20px;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 20px;
}

table {
  border: 1px solid grey;
  margin-left: 20px;
}

table tr:first-child {
  background-color: grey;
}

table tr th,
table tr td {
  padding: 20px;
}
